In [1]:
"""
-- Read Paper (Over Weekend)
-- Go to Professor Van Dusens Office Hours (Early as possible)
-- Handle Data Files
-- Come up with code so people can open files remotely.
-- Clean Data
"""

'\n-- Read Paper (Over Weekend)\n-- Go to Professor Van Dusens Office Hours (Early as possible)\n-- Handle Data Files\n-- Come up with code so people can open files remotely.\n-- Clean Data\n'

In [2]:
# Importing necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels as sm
import os
import sys
from pathlib import Path

file_path = Path("../Data")
path_1 = file_path

In [3]:
baseline_path = file_path / "2013-0533_data_baseline.dta"
baseline = pd.read_stata(baseline_path)

In [4]:
# STEP 1: Define variable groups (same as your Stata locals)
hh_composition = ["hh_size", "adults", "children", "male_head", "head_age", "head_noeduc"]
credit_access = ["spandana", "othermfi", "bank", "informal", "anyloan"]
loan_amt = ["spandana_amt", "othermfi_amt", "bank_amt", "informal_amt", "anyloan_amt"]
self_emp_activ = ["total_biz", "female_biz", "female_biz_pct"]
businesses = ["bizrev", "bizexpense", "bizinvestment", "bizemployees", "hours_weekbiz"]

# STEP 2: Create new business outcome variables for all households
businesses_allHH = []
allvars = []

# Create new variables with "_allHH" suffix for all households
for var in businesses:
    new_var = f"{var}_allHH"
    businesses_allHH.append(new_var)
    baseline[new_var] = baseline[var]  # Copy original variable to new column
    baseline.loc[baseline["total_biz"] == 0, new_var] = 0  # Replace with 0 if no business

# Add the new _allHH variables to the allvars list
allvars.append(businesses_allHH)  # Append the new variables

consumption = ["total_exp_mo", "nondurable_exp_mo", "durables_exp_mo", "home_durable_index"]

# Combine all variable groups into one list
allvars = hh_composition + credit_access + loan_amt + self_emp_activ + businesses + businesses_allHH + consumption

In [5]:
baseline_dropped = baseline.dropna(subset = ["treatment"]) # Drop NANs

# Slice for control variables 
control_baseline = baseline[baseline["treatment"] == "Control"].dropna(subset = ["treatment"])
control_summary = control_baseline.describe()

# Get only the desired statistics
control_summary_slimmed = control_summary.iloc[0:3]
control_summary_slimmed

,hhid_baseline,areaid,hh_size,adults,children,male_head,head_age,head_noeduc,spandana_amt,othermfi_amt,...,hours_weekbiz,total_exp_mo,nondurable_exp_mo,durables_exp_mo,home_durable_index,bizrev_allHH,bizexpense_allHH,bizinvestment_allHH,bizemployees_allHH,hours_weekbiz_allHH
count,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000,1216.000000,1216.000000,1216.000000,1213.0,1213.000000,...,295.000000,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000
mean,1461.319672,55.196721,5.037705,3.438525,1.599180,0.907072,41.149671,0.370066,0.0,201.154163,...,76.315254,4888.431152,4734.685367,153.745696,1.941369,3866.590164,874.703064,93.024590,0.040984,18.453279
std,802.220946,29.577734,1.666212,1.465599,1.228256,0.290450,10.839448,0.483021,0.0,2742.363893,...,66.054443,4074.372314,3839.802498,584.594145,0.829068,27146.786829,12932.665039,1559.052264,0.413027,46.053651

In [6]:
# STEP 1: Define variable groups (same as your Stata locals)
hh_composition = ["hh_size", "adults", "children", "male_head", "head_age", "head_noeduc"]
credit_access = ["spandana", "othermfi", "bank", "informal", "anyloan"]
loan_amt = ["spandana_amt", "othermfi_amt", "bank_amt", "informal_amt", "anyloan_amt"]
self_emp_activ = ["total_biz", "female_biz", "female_biz_pct"]
businesses = ["bizrev", "bizexpense", "bizinvestment", "bizemployees", "hours_weekbiz"]

# STEP 2: Create new business outcome variables for all households
businesses_allHH = []
allvars = []

# Create new variables with "_allHH" suffix for all households
for var in businesses:
    new_var = f"{var}_allHH"
    businesses_allHH.append(new_var)
    baseline[new_var] = baseline[var]  # Copy original variable to new column
    baseline.loc[baseline["total_biz"] == 0, new_var] = 0  # Replace with 0 if no business

# Add the new _allHH variables to the allvars list
allvars.append(businesses_allHH)  # Append the new variables

consumption = ["total_exp_mo", "nondurable_exp_mo", "durables_exp_mo", "home_durable_index"]

# Combine all variable groups into one list
allvars = hh_composition + credit_access + loan_amt + self_emp_activ + businesses + businesses_allHH + consumption

['hh_size',
 'adults',
 'children',
 'male_head',
 'head_age',
 'head_noeduc',
 'spandana',
 'othermfi',
 'bank',
 'informal',
 'anyloan',
 'spandana_amt',
 'othermfi_amt',
 'bank_amt',
 'informal_amt',
 'anyloan_amt',
 'total_biz',
 'female_biz',
 'female_biz_pct',
 'bizrev',
 'bizexpense',
 'bizinvestment',
 'bizemployees',
 'hours_weekbiz',
 'bizrev_allHH',
 'bizexpense_allHH',
 'bizinvestment_allHH',
 'bizemployees_allHH',
 'hours_weekbiz_allHH',
 'total_exp_mo',
 'nondurable_exp_mo',
 'durables_exp_mo',
 'home_durable_index']